/*
html,body{
	height: 100%;
	
}
*/

#hero{
	
	background-image: url("../images/color-road.jpg");
	background-size: cover;
	height: 500px;
	
}

/*
.hero-text{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	max-width: 75%;
	margin: 0 auto;
}
*/
